.idea/*
*.torrent
*.txt
test_torrent_dir/*
/tests/test_torrent_data/
.idea/
__pycache__/
config.pyc
opalescence/__pycache__/*
opalescence/btlib/__pycache__/*
opalescence/btlib/protocol/__pycache__/*
tests/__pycache__/*
